# Node modules
/node_modules/

# Bot tokens, invite links file.
/secret.json5

# Data folder.
/data/

# Dumped file
dump.txt

# Logs
latest.log

# Plugins folder
/plugins/

# Crash reports
/crash-reports/
