# Node modules
/node_modules/

# Bot tokens, invite links file. <Merged to config{.example}.yml>
secret.yml
secret.example.yml
secret.old.yml

# Logs
latest.log

# Package manager files
package-lock.json
yarn-error.log

# Config files
config.yml
config.old.yml
