# Node modules
/node_modules/

# Bot tokens, invite links file.
secret.yml

# Dumped file
dump.txt

# Logs
latest.log

# Pid file
blacklistener.pid

# Local file(GCP side)
gitpull.log

# npm package-lock.json
package-lock.json

# Config file
src/config.yml
