{
  "token": "",
  "inviteme": "https://discordapp.com/api/oauth2/authorize?client_id=YOUR_CLIENT_ID_HERE&permissions=0&scope=bot",
  "extenderinvite": "https://discordapp.com/api/oauth2/authorize?client_id=471558776751652868&permissions=8&scope=bot",
  "musicinvite": "https://discordapp.com/oauth2/authorize?client_id=467908515327901696&permissions=603319360&scope=bot",
  "NOTE": "this musicinvite and extenderinvite url is example, and japan region.",
  "dbl": "your discordbots.org token",
  "talk_apikey": "repl-ai api key",
  "fortnite_api_key": "fortniteapi.com api key"
}
