{
  "token": "",
  "inviteme": "https://discordapp.com/api/oauth2/authorize?client_id=YOUR_CLIENT_ID_HERE&permissions=0&scope=bot",
  "musicinvite": "https://discordapp.com/oauth2/authorize?client_id=YOUR_MUSICBOT_CLIENT_ID_HERE&permissions=603319360&scope=bot",
  "dbl": "your_discordbots.org token"
}
