{
  "token": "",
  "inviteme": "https://discordapp.com/api/oauth2/authorize?client_id=YOUR_CLIENT_ID_HERE&permissions=0&scope=bot",
  "musicinvite": "https://discordapp.com/oauth2/authorize?client_id=467908515327901696&permissions=603319360&scope=bot",
  "NOTE": "this musicinvite url is example, and japan region.",
  "dbl": "your_discordbots.org token",
  "talk_apikey": "recruit talk api key"
}
